{% extends "base.html" %}

{% block title %}Blog entries{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}Top Articles{% endif %}{% endblock %}

{% block content %}
  {% for entry in object_list %}
    <h3 >
      <a href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
        <h1 class="articleTitle">{{ entry.title}} <h1 class="pointsStyle">+{{entry.points }} Points</h1></h1>
      </a>
    </h3>
    <p>Created {{ entry.timestamp.strftime('%m/%d/%Y') }}</p>
  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}